*~
.snakemake
.cache
.java
.fontconfig
.ipynb_checkpoints
__pycache__
*.err
*.out
*.html
*.swp
*.pdf
*.tsv
*.txt
*.yaml
logs*
*output*
results*
singularity-images
*test*
*fastq*
config.yaml
config_*.yaml
RS.log
download
!resources/test-data/
!lsf.yaml
