*~
.snakemake
.cache
.java
.fontconfig
.ipynb_checkpoints
__pycache__
*.err
*.out
*.html
*.swp
*.pdf
logs*
*output*
results*
singularity-images
*test*
config.yaml
config_*.yaml
!resources/test-data/
!lsf.yaml
